/* Estilo básico para a Navbar */
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    color: white;
    height: 60px;
  }
  
  /* Estilo para a logo */
  .navbar-left .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  /* Estilo para os links no meio da Navbar */
  .navbar-center a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1em;
  }
  
  .navbar-center a:hover {
    text-decoration: underline;
  }
  
  /* Estilo para o botão de favoritos */
  .navbar-right .favorites-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navbar-right .favorites-button:hover {
    opacity: 0.8;
  }
  