.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Estilo básico para a Navbar */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: white;
  height: 60px;
  position: fixed; /* Fixa a navbar no topo */
  top: 0; /* Alinha a navbar ao topo da página */
  width: 100%; /* Faz com que a navbar ocupe toda a largura */
  z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
}


/* Estilo para a logo */
.navbar-left .logo {
  font-size: 1.5em;
  font-weight: bold;
}

/* Estilo para os links no meio da Navbar */
.navbar-center a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1em;
}

.navbar-center a:hover {
  text-decoration: underline;
}

/* Estilo para o botão de favoritos */
.navbar-right .favorites-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar-right .favorites-button:hover {
  opacity: 0.8;
}
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
}
